h1{
  background-color: black;
  color: red;
}

h2{
  text-align: center;
  background-color: blue;
  color: wheat;
}

ul{
  font-family: 'Courier New', Courier, monospace;
  line-height: 50px;
  font-weight: 40px;
}